regulation document


related workspaced related to leave it for now

keywords text field

roles:
Initiator
Departments
Owner
Stakeholders



shortcut to regulations on home screen

related documents tab on workspace
related policies/procedures/regulations


only folder:
attachments


faceits categories for regulation

dashboard:
regulations per department





- hide Standard document in create CWS

landing page:
- remove Standard - put regulation



dashboards:
-remove Policy to Revision
-remove Procedure to Revision
- add regulation dashboard


policies and procedure perspectives:
Related Gaps -> rename to empty (remove)


regulation perspective:
- add document widget