regulation document


related workspaced related to leave it for now

keywords text field

roles:
Initiator
Departments
Owner
Stakeholders



shortcut to regulations on home screen

related documents tab on workspace
related policies/procedures/regulations


only folder:
attachments


faceits categories for regulation

dashboard:
regulations per department




