regulation document


related workspaced related to leave it for now

keywords text field

roles:
Initiator
Departments
Owner
Stakeholders



shortcut to regulations on home screen

related documents tab on workspace
related policies/procedures/regulations


only folder:
attachments


faceits categories for regulation

dashboard:
regulations per department





- hide Standard document in create CWS [DONE]



landing page: [DONE]
- remove Standard - put regulation [DONE]



dashboards: [DONE]
-remove Policy to Revision [DONE]
-remove Procedure to Revision [DONE] 
- add regulation dashboard [DONE]


policies and procedure perspectives: [DONE]
Related Gaps -> rename to empty (remove) [DONE]


regulation perspective: [DONE]
- add document widget [DONE]